@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}


.wave-top {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  
  .wave-bottom {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  
  .wave-top svg {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .wave-bottom svg {
    display: block;
    width: 100%;
    height: auto;
  }

